<header id="header">
  <image id="header-logo" src="./images/Pastel_Green_Logo.png"></image>
  <div class="nav-links-container">
    <div>About Us</div>
    <div>Contact Us</div>
    <div>FAQ</div>
  </div>
</header>
<hr />
