<div class="single-result-container">
  <form method="post" action="/view-details">
    <button class="single-result-title"><%= item.title %></button>
    <input type="hidden" value="<%= item._id %>" name="_id" />
    <div><%= item.info %></div>
  </form>
</div>
