<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>The Recycling Buddy</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <%- include("partials/navbar.ejs") -%>
    <div id="home-container">
      <div>Search for an Item:</div>
      <form id="search-form" method="POST" action="/temp">
        <input
          type="search"
          name="keyword"
          id="search-box"
          placeholder="Search you recycle item here"
          aria-label="Search through site content"
        />
        <input type="submit" id="search-btn" value="Search" />
      </form>
      <div>Results:</div>
    </div>
    <%- include("partials/footer.ejs") -%>
  </body>
</html>
