<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Item</title>
</head>
<body class="itempage">
    <div class="container">
        <div class="main-body">
            <div class="col md-12 text-center text-light">
                <h5>You are one step closer to make your surroundings more friendly</h5>
            </div>
            <form id="search-form" method="POST" action="/temp">
            <input
                type="search"
                name="keyword"
                id="search-box"
                placeholder="Search you recycle item here"
                aria-label="Search through site content"
          />
          <input type="submit" id="search-btn" value="Search" />
        </form>
        <hr>
        <div class="row bg-white">
            <div class="col-12 col-md-4">
              <img src="/uploads/<%- Recyclable.image %>" class="img-fluid" style="top: 20px;" alt="<%- Recyclable.name %>" >
            </div>
            <div class="col-12 col-md-8">
                <div class="row">
                    <div class="col-12">
                        <h1>Results</h1>
                    </div>
                <div class="col-12" style="white-space: pre-line;">
                    <h4><%- Recyclable.info %>From canned food to soda and aerosol cans, all metal cans -- including aluminum and steel -- are infinitely recyclable. According to the American and Iron Steel Institute, more than 90% of the co-products from the steelmaking process are reused or recycled.</h4>
                </div>    
              </div>
            </div>
        </div>
        </div>
</body>
</html>