<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <title>Login</title>
  </head>
  <body class="flex-wrapper">
    <div>
      <%- include("partials/navbar.ejs") -%>
      <div class="page-container">
        <div class="form-container">
          <div class="title"><div>Login</div></div>
          <form
            class="flex-col"
            method="post"
            action="/login"
            id="form-container"
          >
            <div>
              <div>Email:</div>
              <input type="text" name="username" class="input-box" />
            </div>
            <div>
              <div>Password:</div>
              <input type="text" name="password" class="input-box" />
            </div>
            <input type="submit" class="btn btn-success" />
            <div class="foot-note">
              <div>Dont Have an Account? <a href="/">Signup</a></div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <%- include("partials/footer.ejs") -%>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
