<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--  This file has been downloaded from bootdey.com @bootdey on twitter -->
    <!--  All snippets are MIT license http://bootdey.com/license -->
    <title>UserProfile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="style.css">
</head>
<body class="profile">
<div class="container">
    <div class="main-body">
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="./images/avatar.png" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h4>Yi Xu</h4>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <img src="./images/sodacan.jpg" alt="Admin" class="rounded-circle" width="120">
                    </div>
                    <div class="col-sm-9 text-secondary">
                      sodacan
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <img src="./images/sodacan.jpg" alt="Admin" class="rounded-circle" width="120">
                    </div>
                    <div class="col-sm-9 text-secondary">
                      sodacan
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <img src="./images/sodacan.jpg" alt="Admin" class="rounded-circle" width="120">
                    </div>
                    <div class="col-sm-9 text-secondary">
                      sodacan
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <img src="./images/sodacan.jpg" alt="Admin" class="rounded-circle" width="120">
                    </div>
                    <div class="col-sm-9 text-secondary">
                      sodacan
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <img src="./images/sodacan.jpg" alt="Admin" class="rounded-circle" width="120">
                    </div>
                    <div class="col-sm-9 text-secondary">
                      sodacan
                    </div>
                  </div>
                  
                  
                </div>
              </div>

            


            </div>
          </div>

        </div>
    </div>

</body>
</html>